name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: "11"
        distribution: "temurin"

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Run demo app
      run: |
        java -jar ./artifacts/app-ibank.jar &
        echo \$! > app.pid

    - name: Build with Gradle
      run: ./gradlew test -Dselenide.headless=true

    - name: Stop demo app
      if: always()
      run: |
        kill \ 2>/dev/null || true
