name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: "11"
        distribution: "temurin"
        
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Start application
      run: |
        cd artifacts
        java -jar app-replan-delivery.jar &
        sleep 5
        
    - name: Run tests
      run: ./gradlew test --info